
body {
    background-color: hsl(27, 66%, 92%);
}

.content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Hanken Grotesk', sans-serif;
}

.balance-card {
    background-color: hsl(10, 79%, 65%);
    color: white;
    width: 25rem;
    height: 5rem;
    border-radius: 20px;
    margin-left: auto;
    display: flex;
    margin-top: 2%;
}

.my-balance {
    margin-left:8%;
}

.balance-title {
    margin-bottom: 0;
    font-size: 0.8rem;
}

.balance-total {
    font-size: 1.5rem;
    margin-top: 0%;
    font-weight: 600;
}

.balance-logo {
    display: block;
    margin-right: 5%;
    margin-left: auto;
}

.spending-card {
    background-color: hsl(33, 100%, 98%);
    border-radius: 20px;
    padding: 5%;
}

.chart {
    display: flex;
    width:100%;
}

.bottom {
    display: flex;
    margin-top: 5%;
}

.total-title {
    font-size: 0.8rem;
    margin-bottom: 0;
    color: hsl(28, 10%, 53%);
}

.total-number {
    font-size: 2.5rem;
    margin-top: 0%;
    font-weight: 600;
    color: hsl(25, 47%, 15%);
}

.percentage {
    display: block;
    margin-left: auto;
}

.percent {
    margin-left: 50%;
    padding-top: 25%;
    font-size: 0.8rem;
    color: hsl(25, 47%, 15%);

}

.percent-text {
    font-size: 0.8rem;
    color: hsl(28, 10%, 53%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
